@{
    ViewBag.Title = "About";
}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="row blog-row">
        <h1 class="text-center margin_bottom30">Acerca de mi</h1>
        <div class="col-md-6 col-sm-6 col-xs-12 margin_bottom30">
            <a href="javascript::;">
                <img class="img-responsive center-block" src="~/fonts/Logo_UNLA.jpg" height="250">
            </a>
            <div class="blog-content bg-white">
                <h3>Licenciatura en Sistemas</h3>
                <p>Duracion : 5 años - Cursando Actualmente.</p>
                <p>
                    Como Licenciado estarás capacitado para:

                    • Participar activamente en el desarrollo y programación de sistemas de seguridad social, capacitación a distancia, sistemas para proporcionar comunicaciones a la sociedad, sistemas electorales, sistemas biométricos, sistemas de logística y aprovisionamiento de materiales, control de servicios públicos y sistemas demóticos.

                    • Administrar los recursos humanos, físicos y de aplicación que intervienen en el desarrollo de proyectos de sistemas de información.

                    • Desempeñar funciones gerenciales acordes con su formación profesional.

                    • Colaborar en el desarrollo de proyectos de investigación y desarrollo, integrando, a tal efecto, equipos interdisciplinarios en cooperación.

                    • Transmitir conocimientos a distintos niveles vinculados con su formación en los sistemas de información, y colaborar en actividades de grado y postgrado.

                    • Afrontar con solvencia el planeamiento, desarrollo, dirección y control de los sistemas de información.
                </p>
                <hr>
              
               
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 margin_bottom30">
            <a href="javascript::;">
                <img class="img-responsive center-block" src="~/fonts/coderlogo.jpg">
            </a>
            <div class="blog-content bg-white">
                <h3>Curso backend C#</h3>
                <p>Duracion : 4 meses</p>
                <p>
                    Se ven los conceptos y la sintaxis del lenguaje desarrollado por Microsoft
                    C#. A través del Framework .NET, el circuito completo que debe hacer un
                    programador para poder llevar a cabo el back end de una Aplicación Web.
                    Se emplea el uso de Visual Studio Code, base de datos SQL, Framework
                    .NET, GIT hub y utilización de Apis.
                </p>
                <hr>
            </div>
        </div>
    </div>
</div>
