@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDO</h1>
    <p class="lead">Bienvenido a mi aplicacion de inicio de Sesion y Registro</p>
    <p><a href="https://github.com/lumaes/master" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Acerca de esta app</h2>
        <p>
            Esta Aplicacion fue creada en Visual Studio, con lenguaje C# en formato MVC. Base de datos Sql, Front Html y Css.

        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Mis objetivos</h2>
        <p>Tengo como meta poder desempeñarme como desarrollador, mejorar mis habilidades, crecer en el ambito profesional, trabajar en una gran empresa y sobre todo hacer lo que me gusta. </p>
        
    </div>
    <div class="col-md-4">
        <h2>Mi CV</h2>
        <p>Si sos un reclutador y estas interesado te dejo mi link.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/lucasmescalante">Linkedin &raquo;</a></p>
    </div>
</div>